<main class="mx-auto h-full text-slate-600">
  <app-layout class="bg-transparent"></app-layout>
  
  <section class="container h-full p-2">
    <!-- Header -->
    <article class="header">
      <h2 class="text-white mx-8 text-2xl font-semibold">Panel de administrador</h2>
    </article>

    <section class="content h-full">
      <p>hola</p>
    </section>

    <section class="sidebar h-full flex flex-col gap-2">
      <!-- Ir al apartado de dashboard -->
      <article class="mx-auto bg-slate-50 p-2 rounded-md w-60">

        <button class="flex items-center gap-2 border-2 border-slate-300 rounded-lg p-2 w-full text-sm " (click)="goToDashboard()"> 
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6" />
          </svg>
          Dashboard 
        </button>
        
      </article>
      <!-- Crear nuevo usuario -->
      <article class="mx-auto bg-slate-50 p-2 rounded-md w-60">

        <button (click)="showUserModal()" class="flex items-center text-sm gap-2 border-2 border-slate-300 rounded-lg p-2 w-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
          </svg>
          Nuevo Usuario
        </button>

      </article>
      <!-- Crear nuevo team -->
      <article class="mx-auto bg-slate-50 p-2 rounded-md w-60">

        <button (click)="showTeamModal()" class="flex items-center text-sm gap-2 border-2 border-slate-300 rounded-lg p-2 w-full">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
          </svg>          
          Nuevo team
        </button>

      </article>
      <article class="mx-auto bg-slate-50 p-2 rounded-md w-60">
        <h3 class="text-lg text-slate-600 font-semibold px-2">Usuarios</h3>
        <ul class="px-4 py-2">
          @for (user of users; track $index) {
            <li class="text-slate-600 text-sm p-2 border-b-2 border-slate-200" >  
              {{user.username}} ( {{user.company}} )
            </li>
          } 
        </ul>
      </article>
      <!-- <article class="mx-auto bg-cyan-50 p-2 rounded-lg border-2 border-cyan-700 w-60">
        <h3 class="text-xl text-center text-slate-800 font-semibold">Empresas asociadas</h3>
        <ul class="px-4 py-2">
          <li>
            hola 
          </li>
          <li>
            hola 
          </li>
          <li>
            hola 
          </li>
        </ul>
      </article> -->
    </section>
      
  </section>

  <app-footer></app-footer>
</main>

